@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./assets/fonts/font.css");

body {
  margin: 0;
  font-family: "Nunito", "Josefin Sans", "Montserrat Alternates",
    "Space Grotesk", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.Space-Grotesk {
  font-family: "Space Grotesk" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
